<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/main.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Data</title>
</head>

<body>
  <%- include('partials/navbar', {page: '/'}) %>
  
<br>
<div class="flex items-center space-x-4">
  <input id ="searchbar" type="text" placeholder=" Search..." class="border rounded-md px-2 py-2 w-full">

  <select class="border rounded-md px-2 py-2">
    <option id="employee_id" >Employee ID</option>
    <option id="department">Department</option>
    <option id="job_title"> Job Title</option>
    <option id="years_of_experience">years of Experience</option>
  </select>

  <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Search</button>
  
  

  
</div>
</body>
</html>
