<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="/css/main.css">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Data</title>
</head>

<body>

  <nav class="bg-white px-4 text-black p-2">
  <a href="/" class="text-black text-2xl font-bold">Home</a>
  <a href="/about"class="text-black text-2xl font-bold">About</a>
</nav>
<br>
<div class="flex items-center space-x-4">
  <input id ="searchbar" type="text" placeholder=" Search..." class="border rounded-md px-2 py-2 w-full">

  <select class="border rounded-md px-2 py-2">
    <option id="employee_id" >Employee ID</option>
    <option id="department">Department</option>
    <option id="job_title"> Job Title</option>
    <option id="years_of_experience">years of Experience</option>
  </select>

  <button class="bg-blue-500 text-white px-4 py-2 rounded-md">Search</button>
<script>
   const selectedOption = selectElement.options[selectElement.selectedIndex].id;
  const searchInput =document.getElementnById('searchInput');
  searchInput.addEventListener('input',function(change){
    const searchText=change.target.value.trim()
 if(selectedOption == "employee_id")
 {
  console.log('/employeeData/Employees');
 }
  });
 
  </script>
</div>
</body>
</html>
